<div ng-controller="taskController">

  <div class="Timer">
    <div class="Timer-label">it's time to work</div>
    <div class="Timer-countdown">{{times[0].value}}</div>
  </div>

  <h1> Time is still runnning ? {{isRunning}}</h1>
<ul>
    <li> my task is : {{mytask}}</li>
    <li ng-repeat="item in tasks">
        {{item.name}} : {{item.todo}}
    </li>
</ul>



    <blaze-template name="loginButtons"></blaze-template>

<input placeholder="What todo" ng-model="todo">
<input placeholder="name" ng-model="name">
<button ng-if="isRunning" ng-click="join()">Join now</button>
</div>

