.Controls {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
}

.Controls-login {
  position: absolute;
  bottom: 0;
  right: 0;

  #login-dropdown-list {
    top: auto;
    left: auto;
    right: -1px;
    bottom: -1px;
  }
}
