body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color:dimgrey;
}
.listC {
    max-width:800px;
    margin:auto;
    padding:20px;

}
ul {
    display:inline-block;
}
li {
    text-align: left;

}
input{

    font-size:38px;
    margin:10px;
}
button {
    font-size:36px;
    margin:10px;
}

.loginBox {
    display:block;
}