.TasksList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.TasksList-task {
  font-size: 20px;
  font-weight: 300;

  &.TasksList-task--success {
    background:lawngreen;
  }
  &.TasksList-task--fail {
    background:palevioletred;
  }
}

.TasksList-taskOwner {
  font-weight: 400;
}

.TasksList-taskTitle {
}

.TasksList-taskStatus {
  position: absolute;
  right: 20px;
}

.TasksList-taskOwnerImage {
  display: none; /* Hide for now */
}
