.TasksList {
  list-style: none;
  padding: 50px 0;
  max-width: 700px;
  margin: 0 auto;
}

.TasksList-task {
  font-size: 20px;
  font-weight: 300;
  position: relative;
  margin-bottom: 60px;

  &.TasksList-task--success {
    background:lawngreen;
  }
  &.TasksList-task--fail {
    background:palevioletred;
  }
}

.TasksList-taskOwner {
  font-weight: 400;
}

.TasksList-taskTitle {
  font-size: 32px;
}

.TasksList-taskOwnerImage {
  width: 32px;
  height: auto;
  border-radius: 16px;
  top: 7px;
  position: relative;
}

.TasksList-thumbsComments {
  position: absolute;
  right: 0;
  top: 60px;
}

.TasksList-thumbsUp {
  color: blue;
}

.TasksList-commentField {
  font-size: 20px;
  font-weight: 300;
  font-family: 'Oswald';
  border: 0;
  padding: 0 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.TasksList-commentButton {
  background-color: #CCC;
  height: 30px;
  box-sizing: border-box;
  margin: 0;
  padding: 0 10px;
  border: 0;
  position: absolute;
  font-size: 14px;
  font-family: 'Oswald';
  text-transform: uppercase;
}

.TasksList-taskComments {
  position: absolute;
  left: 0;
}
