.Timer {
  position: relative;
}

.Timer-background {
  background-color: #ffffff;
  position: absolute;
  top: -500px;
  left: -500px;
  right: -500px;
  bottom: 0;
  transform: rotate(3deg);
}

.Timer-label {
  font-family: @font-sans;
  font-weight: 700;
  color: @color-theme;
  font-size: 60px;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin: -40px -20px 0 -20px;
  line-height: 120px;
  text-align: center;
  position: relative;
}

.Timer-countdown {
  font-family: @font-mono;
  font-size: 120px;
  color: @color-dark-gray;
  text-align: center;
  letter-spacing: -10px;
  position: absolute;
  top: 55px;
  left: -10px;
  right: 0;
}

@media (min-width: 400px) {
  .Timer-label {
    font-size: 80px;
    line-height: 140px;
    max-width: 380px;
    margin: -20px auto 0 auto;
  }

  .Timer-countdown {
    font-size: 140px;
    top: 65px;
    letter-spacing: -15px;
  }
}
